nav {
  z-index: 100;
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 1.1rem;
}
nav a {
  color: #000000;
  text-decoration: none;
}
nav div {
  display: grid;
  justify-items: start;
}
nav div a {
  margin-left: 2rem;
}
nav ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
nav ul div.span {
  display: none;
}
nav ul li {
  list-style: none;
}

main .principalPicture {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  overflow: hidden;
}
main .principalPicture:hover > .pictureText {
  right: 0;
}
main .principalPicture .backgroundPicture {
  font-size: 3rem;
  padding: 3rem;
  display: grid;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 70vh;
  grid-row: 1/4;
  grid-column: 1/4;
  border-radius: 0% 0% 100% 20%/0% 0% 45% 30%;
  background: blueviolet;
}
main .principalPicture .pictureText {
  background: #eeeeeeb9;
  grid-row: 2/3;
  grid-column: 2/3;
  display: grid;
  align-content: center;
  justify-items: center;
  color: black;
  padding: 2rem;
  gap: 1rem;
  position: relative;
  right: -100%;
  transition: all 1s cubic-bezier(0.44, -0.42, 0.62, 1.5);
}
main .principalPicture .pictureText h5 {
  margin: 0;
  font-size: 1.5rem;
}
main .principalPicture .pictureText p {
  text-align: center;
  margin: 0;
}

section.aboutMe {
  display: grid;
  grid-template-columns: 60% 40%;
  margin: 4rem;
}
section.aboutMe div.textWrapper {
  padding: 3rem;
}
section.aboutMe div.pictureWrapper {
  padding: 3rem;
}
section.aboutMe div.pictureWrapper img {
  width: 100%;
}

section.projects {
  display: grid;
}
section.projects div.projectsTitle {
  background: blueviolet;
  height: 80vh;
  display: grid;
  align-items: center;
  justify-items: center;
}
section.projects div.projectsTitle a {
  position: relative;
  z-index: 1;
  text-decoration: none;
}
section.projects div.projectsTitle a:hover h5 {
  gap: 2rem;
}
section.projects div.projectsTitle a h5 {
  font-family: "Monoton", cursive;
  font-size: 5rem;
  margin: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr;
  cursor: pointer;
  transition: all 0.3s;
  gap: 0;
  color: #eeeeee;
  text-transform: uppercase;
}
section.projects div.projectsTitle a h5::before {
  content: "Projects";
  clip-path: inset(0 0 50% 0);
  position: relative;
  bottom: -50%;
}
section.projects div.projectsTitle a h5::after {
  content: "Projects";
  clip-path: inset(50% 0 0 0);
  position: relative;
  top: -50%;
}
section.projects div.projectsShow {
  justify-self: center;
  display: grid;
  justify-items: center;
  align-items: center;
}
section.projects div.projectsShow div.wrapper {
  width: 70%;
  height: 70vh;
  display: grid;
  grid-template-rows: 30% 70%;
  margin: 5rem;
  background: blueviolet;
}
section.projects div.projectsShow div.wrapper div.mini {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  gap: 1rem;
}
section.projects div.projectsShow div.wrapper div.mini img {
  width: 100%;
  height: 100%;
}
section.projects div.projectsShow div.wrapper div.pictureShow {
  margin: 1rem;
  margin-top: 0;
  overflow: hidden;
}
section.projects div.projectsShow div.wrapper div.pictureShow div {
  display: grid;
  grid-template-columns: repeat(4, 100%);
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  transition: all 1s;
  align-items: center;
  justify-items: center;
}
section.projects div.projectsShow div.wrapper div.pictureShow div div {
  width: 100%;
  height: 100%;
  background: #eeeeee;
  display: grid;
  font-size: 400%;
  text-align: center;
}
section.projects div.projectsShow div.wrapper div.pictureShow div img {
  width: 100%;
  height: 100%;
}

section.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 7rem 5rem;
  align-items: center;
  justify-items: center;
}
section.contact div.imageWrapper {
  width: 100%;
}
section.contact div.imageWrapper img {
  width: 100%;
}
section.contact div.textWrapper {
  padding: 10rem auto;
  display: grid;
  gap: 10%;
  justify-items: right;
}
section.contact div.textWrapper h5 {
  font-size: 400%;
  font-family: "Monoton", cursive;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 4rem;
  color: blueviolet;
}
section.contact div.textWrapper a {
  font-size: 1.5rem;
  text-decoration: none;
  color: blueviolet;
  position: relative;
  overflow: hidden;
}
section.contact div.textWrapper a:hover span {
  left: 0;
}
section.contact div.textWrapper a span {
  width: 100%;
  height: 2px;
  background: blueviolet;
  position: absolute;
  left: 100%;
  bottom: 0;
  transition: all 0.5s;
}

footer {
  background: black;
  display: grid;
  padding: 3rem;
  justify-items: center;
  align-items: center;
}
footer .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 7rem;
}
footer .wrapper a:nth-child(1) .icon:hover {
  color: #5b5bf0;
}
footer .wrapper a:nth-child(2) .icon:hover {
  color: blue;
}
footer .wrapper a:nth-child(3) .icon:hover {
  color: green;
}
footer .wrapper a .icon {
  color: #eeeeee;
  font-size: 2rem;
  transition: all 0.3s;
  border-radius: 5px;
}

body {
  background: #eeeeee;
  font-family: "Chilanka", cursive;
}

@media screen and (max-width: 700px) {
  nav {
    grid-template-columns: 1fr;
  }
  nav div {
    display: none;
  }

  section.principalPicture .backgroundPicture {
    height: auto;
  }
  section.principalPicture div.pictureText {
    position: absolute;
    width: 50%;
    right: 0;
    top: 4rem;
  }

  section.aboutMe {
    grid-template-columns: 1fr;
    margin: 3rem;
  }
  section.aboutMe .pictureWrapper {
    padding: 0rem;
  }

  section.contact {
    grid-template-columns: 1fr;
  }
  section.contact div.imageWrapper {
    padding: 4rem;
    width: 70%;
    grid-row: 2/3;
  }
}
@media screen and (max-width: 500px) {
  .visibility {
    z-index: 100;
    clip-path: circle(200% at 0% 0%);
  }

  nav {
    z-index: 0;
    clip-path: circle(15% at 0% 0%);
    transition: all 0.8s;
  }
  nav ul {
    width: 100vw;
    height: 100vh;
    background: #eeeeee;
    margin: 0;
    padding: auto;
    grid-template-columns: 1fr;
    align-content: center;
    font-size: 2rem;
    gap: 3rem;
  }
  nav ul li a {
    color: blueviolet;
  }
  nav ul div.span {
    display: grid;
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 0;
    top: 0;
    padding: 0.5rem;
    align-items: center;
    background: blueviolet;
    border-radius: 100%;
    cursor: pointer;
  }
  nav ul div.span span {
    width: 100%;
    height: 3px;
    background: #eeeeee;
  }
  nav ul div.span span:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  nav ul div.span span:nth-child(2) {
    rotate: 90deg;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  section.aboutMe {
    margin: 4rem 0;
  }
  section.aboutMe div.textWrapper {
    padding: 1rem;
  }
  section.aboutMe .pictureWrapper {
    padding: 0;
  }

  section.projects div.projectsTitle a h5 {
    font-size: 2.3rem;
  }
  section.projects div.projectsShow div.wrapper div.pictureShow div div h5 {
    font-size: 2rem;
  }

  section.contact {
    margin: 7rem 0;
  }
  section.contact div.textWrapper h5 {
    font-size: 300%;
  }

  footer div.wrapper {
    gap: 1rem;
    position: relative;
  }
}

/*# sourceMappingURL=styles.css.map */
